@font-face{
    font-family: "P_B";
    src: url("fonts/Poppins-Bold.woff") format('woff');
}

@font-face{
    font-family: "P_M";
    src: url("fonts/Poppins-Medium.woff") format('woff');
}

@font-face{
    font-family: "P_R";
    src: url("fonts/Poppins-Regular.woff") format('woff');
}

@font-face{
    font-family: "P_SB";
    src: url("fonts/Poppins-SemiBold.woff") format('woff');
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

body{
    font-family: "P_R";
    font-size: 10px;
    
    margin: 0;
}

/* Intro */
.intro{
    background: url(img/intro/bg.jpg) center no-repeat;
    background-size: cover;
    
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;
    
    overflow: hidden;
}

.intro__img{
    position: absolute;
    right: 0;
    top: 0;
    
    display: block;
}

.container{
    width: 100%;
    max-width: 1180px;
    
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header{
    width: 100%;
    
    padding: 25px 0;
    
    color: #fff;
    
    position: absolute;
    top: 0;
}

.header.fixed{
    position: fixed;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    
    cursor: pointer;
}

.logo__icon{
    width: 41px;
    height: 41px;
}

.logo__text{
    font-family: "P_SB";
    font-size: 2.2em;
    
    margin-left: 13px;
}

/* Nav */
.nav{
    display: flex;
}

.nav__link{
    font-family: "P_R";
    font-size: 1.6em;
    color: rgba(255, 255, 255, .6);
    
    margin-left: 40px;
    
    text-decoration: none;
    
    position: relative;
    
    transition: color .4s linear, border .4s linear;
    
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.nav__link.active{
    color: #fff;
    border-bottom: 2px solid #fff;
}

.nav__link:first-child{
    margin-left: 0;
}

.nav__link:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
}

/* Content */
.intro__content{
    max-width: 580px;
    
    color: #fff;
}

.intro__suptitle{
    font-family: "P_R";
    font-size: 1.6em;
    text-transform: uppercase;
    color: #1D92FF;
}

.intro__title{
    font-family: "P_M";
    font-size: 6em;
    line-height: 140%;
    text-transform: capitalize;
    font-weight: 400;
}

.intro__subtitle{
    font-family: "P_R";
    color: rgba(255, 255, 255, .7);
    font-size: 1.8em;
    line-height: 160%;
    font-weight: 400;
    text-transform: capitalize;
    
    max-width: 405px;
    
    margin: 20px 0 60px;
}

.intro__text{
    font-family: "P_R";
    font-size: 1.6em;
    line-height: 140%;
    color: rgba(255, 255, 255, .5);
    
    margin-top: 75px;
    
    max-width: 450px;
    
    position: relative;
    
    background: url(img/intro/text_arrow.png) no-repeat;
    
    padding: 0 0 5px 10px;
}

.intro__text::before{
    content: "";
    
    opacity: .2;
    
    width: 100%;
    height: 0.5px;
    
    background-color: #fff;
    
    position: absolute;
    top: -14px;
    left: 0;
}

/* Company */
.company{
    padding-top: 130px;
}

.company__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Features */
.features__inner{
    display: flex;
    align-items: center;
    
    height: 550px;
}

.features__photo{
    width: 70%;
    height: 458px;
    
    position: relative;
}

.features__img{
    position: absolute;
    
    top: -75px;
    left: -143px;
}

.features__content{
    width: 50%;
}

.features{
    margin-top: 45px;
}

.features__item{
    display: flex;
    align-items: center;
    
    margin-top: 25px;
}

.features__icon{
    margin-right: 15px;
}

.features__text{
    font-size: 1.6em;
    line-height: 160%;
    text-transform: capitalize;
    
    opacity: .5;
}

/* Answer */
.answer__inner{
    display: flex;
    align-items: center;
}

.answer__content{
    width: 41%;
}

.accord{
    font-size: 1.6em;
    color: rgba(1, 7, 13, .6);
}

.accord__item{
    border-radius: 5px;
    border: 1px solid rgba(1, 7, 13, .1);
    
    padding: 12px 0 12px 20px;
    margin-top: 15px;
    
    position: relative;
    
    cursor: pointer;
}

.accord__item:last-child{
    margin-bottom: 60px;
}

.accord__item.active .accord__title::before{
    background-color: #1D92FF;
    transform: rotate(-50deg);
    
    top: 35px;
}

.accord__item.active .accord__title::after{
    background-color: #1D92FF;
    transform: rotate(50deg);
    
    top: 35px;
}

.accord__item.active .accord__title{
    font-size: 1.3em;
    font-family: "P_M";
    color: #1D92FF;
}

.accord__item.active .accord__text{
    display: block;
    
    padding: 15px 10px 0 10px;
}

.accord__title::before{
    content: "";
    
    width: 15px;
    height: 3px;
    
    background-color: #808386;
    
    position: absolute;
    right: 20px;
    top: 17px;
    
    border-radius: 5px;
    
    transform-origin: left;
    transform: rotate(50deg);
    transition: transform .1s linear;
}

.accord__title::after{
    content: "";
    
    width: 15px;
    height: 3px;
    
    background-color: #808386;
    
    position: absolute;
    right: 17px;
    top: 17px;
    
    border-radius: 5px;
    
    transform-origin: right;
    transform: rotate(-50deg);
    transition: transform .1s linear;
}

.accord__text{
    display: none;
}

.answer__img{
    position: absolute;
    top: 70px;
    right: 0;
}

/* Testimonials */
.testi__title{
    text-align: center;
}

.testi__inner{
    margin-top: 50px;
    
    display: flex;
    flex-wrap: wrap;
    
    background: url(img/section/testimonials/bg.png) no-repeat;
}

.testi__item{
    padding: 0 65px;
    margin-top: 50px;
    
    width: 33.33333%;
    
    text-align: center;
}

.testi__item-title{
    font-size: 2em;
    font-family: "P_M";
    text-transform: capitalize;
    
    margin: 25px 0 15px;
}

.testi__item-text{
    color: rgba(1, 7, 13, .7);
    font-size: 1.6em;
}

/* Prices */
.prices__title{
    text-align: center;
}

.prices__inner{
    margin-top: 60px;
    padding: 0 15px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.price__card{
    width: 33.33333%;
    
    text-align: center;
    
    border: 1px solid rgba(29, 146, 255, .1);
    border-radius: 10px;
    
    padding: 30px 60px;
    
    transition: background .4s linear, color .4s linear;
    
    height: 560px;
}

.price__card.unique{
    background-color: #002547;
    color: #fff;
    
    height: 600px;
}

.price__card.unique .card__periods{
    background-color: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .1);
}

.price__card.unique .card__duration{
    color: #fff;
}

.price__card.unique .card__duration.active{
    background-color: #1D92FF;
}

.card__title{
    font-size: 2em;
    font-family: "P_M";
    text-transform: uppercase;
}

.card__subtitle{
    font-size: 1.3em;
    line-height: 160%;
    
    opacity: .7;
    
    margin-top: 15px;
}

.card__price{
    font-size: 3.9em;
    font-family: "P_M";
    
    margin: 20px 0;
}

.card__periods{
    border-radius: 18px;
    border: 0.5px solid rgba(1, 7, 13, .05);
    
    margin: 0 auto;
    
    background-color: #FAFAFA;
    
    width: 222px;
    
    display: flex;
    
    cursor: pointer;
    
    transition: background .4s linear, border .4s linear;
}

.card__duration{
    font-size: 1.3em;
    color: rgba(1, 7, 13, .4);
    
    padding: 10px 28px;
    
    transition: color .4s linear;
}

.card__duration.active{
    background-color: #fff;
    
    border-radius: 18px;
    
    color: #000;
    
    transition: background .4s linear
}

.card__features{
    margin: 30px 0;
}

.card__features-item{
    text-align: left;
    
    position: relative;
    
    margin-top: 15px;
}

.card__features-item:first-child{
    margin-top: 0;
}

.card__features-img{
    display: inline-block;
    
    position: absolute;
    top: 0;
    left: -10px;
}

.card__features-text{
    display: inline-block;
    
    width: 210px;
    
    opacity: .7;
    
    font-size: 1.6em;
    line-height: 160%;
    
    margin-left: 20px;
}

/* Form */
.form__block{
    width: 100%;
    
    background: url(img/section/form/bg.png) center no-repeat;
    background-size: cover;
   
    border-radius: 5px;
    
    transition: transform .4s linear;
    
    padding: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: #fff;
    
    transform: translate3d(15px, 15px, 0);
}

.form__block__bg{  
    max-width: 1180px;
    height: 100%;
    
    background-color: rgba(29, 146, 255, .05);
    
    border-radius: 5px;
    
    display: block;
    
    margin: 0 auto;
}

.form__block:hover{
    transform: translate3d(0, 1px, 0);
}

.form__content{
    width: 40%;
}

.form{
    width: 40%;
    
    position: relative;
}

.form__title{
    font-size: 2.2em;
    font-family: "P_M";
}

.form__text{
    opacity: .9;
    
    margin-top: 15px;
    
    font-size: 1.6em;
}

.form__input{
    padding: 17px 83px 17px 40px;
    
    border: 1.5px solid rgba(255, 255, 255, .7);
    border-radius: 50px;
    
    background-color: transparent;
    
    color: rgba(255, 255, 255, .7);
    font-size: 1.6em;
    
    width: 100%;
    max-width: 460px;
}

.form__input::placeholder{
    color: rgba(255, 255, 255, .7);
}

/* Footer */
.footer{
    background-color: #151b1c;  
    
    color: #fff;
    
    padding-bottom: 130px;
}

.footer__inner{
    padding-top: 130px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo{
    width: 20%;
}

.logo__content{
    font-size: 1.6em;
    text-transform: capitalize;
    
    margin-top: 30px;
}

.footer__content{
    display: flex;
}

.footer__col{
    margin-right: 80px;
}

.footer__col:last-child{
    margin-right: 0;
}

.col__title{
    font-size: 16px;
    font-family: "P_M";
    
    margin-bottom: 15px;
}

.col__link{
    font-size: 16px;
    text-transform: capitalize;
    
    opacity: .7;
    
    margin-top: 10px;
    
    display: block;
    
    
}


/* Titles */
.suptitle{
    font-size: 1.6em;
    text-transform: uppercase;
    color: #1D92FF;
    
    margin-bottom: 10px;
}

.title{
    font-size: 3.9em;
    line-height: 135%;
    text-transform: capitalize;
    font-weight: 400;
}

.subtitle{
    font-size: 1.6em;
    color: rgba(0, 0, 0, .7);
    text-transform: capitalize;
    
    margin-top: 20px;
}

/* Section */
.section{
    padding-top: 130px;
    
    position: relative;
}

/* Span */
.text--blue{
    color: #1D92FF;
    font-family: "P_SB";
    
    position: relative;
}

.text--white__underline{
    color: #fff;
    text-decoration: underline;
}

.text--white__transparent{
    color: rgba(255, 255, 255, .7);
}

.text--blue.underline::before{
    content: "";
    
    width: 100%;
    height: 3px;
    
    background-color: #fff;
    
    position: absolute;
    bottom: 13px;
    left: 0;
}

.text--blue.underline::after{
    content: "";
    
    width: 44%;
    height: 3px;
    
    background-color: #1D92FF;
    
    position: absolute;
    bottom: 13px;
    left: 0;
}

/* Btn */
.btn{
    background-color: inherit;
    
    border: 1px solid rgba(255, 255, 255, .1);
    
    color: #fff;
    text-decoration: none;
    font-family: "P_M";
    font-size: 1.8em;
    text-transform: capitalize;
    
    padding: 15px 30px;
    
    border-radius: 5px;
    
    transition: color .4s linear, background .4s linear;
    
    cursor: pointer;
}

.btn:hover{
    background-color: #fff;
    color: #1D92FF;
}

.btn--long{
    padding: 15px 50px;
    margin-right: 30px;
}

.btn--long:last-child{
    margin-right: 0;
}

.btn__bg--blue{
    color: #1D92FF;
    border: 1px solid rgba(29, 146, 255, .1);
}

.btn__bg--blue:hover{
    background-color: #1D92FF;
    color: #fff;
}

.btn--card{
    background-color: #1D92FF;
}

.btn__form{
    position: absolute;
    top: 50%;
    right: 9px;
    
    padding: 12px 20px 8px;
    
    border-radius: 50px;
    cursor: pointer;
    
    transform: translateY(-50%);
    transition: background .4s linear;
}

.btn__form:hover{
    background-color: #1D92FF;
}













