@font-face{
    font-family: "P_B";
    src: url("fonts/Poppins-Bold.woff") format('woff');
}

@font-face{
    font-family: "P_M";
    src: url("fonts/Poppins-Medium.woff") format('woff');
}

@font-face{
    font-family: "P_R";
    src: url("fonts/Poppins-Regular.woff") format('woff');
}

@font-face{
    font-family: "P_SB";
    src: url("fonts/Poppins-SemiBold.woff") format('woff');
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

body{
    font-family: "P_R";
    font-size: 10px;
    
    margin: 0;
}

/* Intro */
.intro{
    background: url(img/intro/bg.jpg) center no-repeat;
    background-size: cover;
    
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;
    
    overflow: hidden;
}

.intro__img{
    position: absolute;
    right: 0;
    top: 0;
    
    display: block;
}

.container{
    width: 100%;
    max-width: 1180px;
    
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header{
    width: 100%;
    
    padding: 25px 0;
    
    color: #fff;
    
    position: absolute;
    top: 0;
}

.header.fixed{
    position: fixed;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    
    cursor: pointer;
}

.logo__icon{
    width: 41px;
    height: 41px;
}

.logo__text{
    font-family: "P_SB";
    font-size: 2.2em;
    
    margin-left: 13px;
}

/* Nav */
.nav{
    display: flex;
}

.nav__link{
    font-family: "P_R";
    font-size: 1.6em;
    color: rgba(255, 255, 255, .6);
    
    margin-left: 40px;
    
    text-decoration: none;
    
    position: relative;
    
    transition: color .4s linear, border .4s linear;
    
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.nav__link.active{
    color: #fff;
    border-bottom: 2px solid #fff;
}

.nav__link:first-child{
    margin-left: 0;
}

.nav__link:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
}

/* Content */
.intro__content{
    max-width: 580px;
    
    color: #fff;
}

.intro__suptitle{
    font-family: "P_R";
    font-size: 1.6em;
    text-transform: uppercase;
    color: #1D92FF;
}

.intro__title{
    font-family: "P_M";
    font-size: 6em;
    line-height: 140%;
    text-transform: capitalize;
    font-weight: 400;
}

.intro__subtitle{
    font-family: "P_R";
    color: rgba(255, 255, 255, .7);
    font-size: 1.8em;
    line-height: 160%;
    font-weight: 400;
    text-transform: capitalize;
    
    max-width: 405px;
    
    margin: 20px 0 60px;
}

.intro__text{
    font-family: "P_R";
    font-size: 1.6em;
    line-height: 140%;
    color: rgba(255, 255, 255, .5);
    
    margin-top: 75px;
    
    max-width: 450px;
    
    position: relative;
    
    background: url(img/intro/text_arrow.png) no-repeat;
    
    padding: 0 0 5px 10px;
}

.intro__text::before{
    content: "";
    
    opacity: .2;
    
    width: 100%;
    height: 0.5px;
    
    background-color: #fff;
    
    position: absolute;
    top: -14px;
    left: 0;
}

/* Company */
.company{
    padding-top: 130px;
}

.company__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Features */
.features__inner{
    display: flex;
    align-items: center;
    
    height: 550px;
}

.features__photo{
    width: 70%;
    height: 458px;
    
    position: relative;
}

.features__img{
    position: absolute;
    
    top: -75px;
    left: -143px;
}

.features__content{
    width: 50%;
}

.features{
    margin-top: 45px;
}

.features__item{
    display: flex;
    align-items: center;
    
    margin-top: 25px;
}

.features__icon{
    margin-right: 15px;
}

.features__text{
    font-size: 1.6em;
    line-height: 160%;
    text-transform: capitalize;
    
    opacity: .5;
}


/* Titles */
.suptitle{
    font-size: 1.6em;
    text-transform: uppercase;
    color: #1D92FF;
    
    margin-bottom: 10px;
}

.title{
    font-size: 3.9em;
    line-height: 135%;
    text-transform: capitalize;
    font-weight: 400;
}

.subtitle{
    font-size: 1.6em;
    color: rgba(0, 0, 0, .7);
    text-transform: capitalize;
    
    margin-top: 20px;
}

/* Section */
.section{
    padding-top: 130px;
}

/* Span */
.text--blue{
    color: #1D92FF;
    font-family: "P_SB";
    
    position: relative;
}

.text--white__underline{
    color: #fff;
    text-decoration: underline;
}

.text--white__transparent{
    color: rgba(255, 255, 255, .7);
}

.text--blue.underline::before{
    content: "";
    
    width: 100%;
    height: 3px;
    
    background-color: #fff;
    
    position: absolute;
    bottom: 13px;
    left: 0;
}

.text--blue.underline::after{
    content: "";
    
    width: 44%;
    height: 3px;
    
    background-color: #1D92FF;
    
    position: absolute;
    bottom: 13px;
    left: 0;
}

/* Btn */
.btn{
    background-color: inherit;
    
    border: 1px solid rgba(255, 255, 255, .1);
    
    color: #fff;
    text-decoration: none;
    font-family: "P_M";
    font-size: 1.8em;
    text-transform: capitalize;
    
    padding: 15px 30px;
    
    border-radius: 5px;
    
    transition: color .4s linear, background .4s linear 
}

.btn--long{
    padding: 15px 50px;
    margin-right: 30px;
}

.btn--long:last-child{
    margin-right: 0;
}

.btn:hover{
    background-color: #fff;
    color: #1D92FF;
}













